<section data-ng-controller="AdvertsController">
	<br/>
	
	<div class="text-center">
		<div class="addform" data-ng-include="addForm.url" data-ng-show="addForm.show">
			Here
		</div>
		<osinuga> </osinuga>
	</div>

																																																																																																																																																																																																																																																																																																																																																																																																																																													